<h1>ユーザーの編集</h1>
<div class="nav justfy-content-end">
  <%= link_to '一覧', users_path, class: 'nav-link' %>
</div>
<%= render partial: 'form', locals: { user: @user } %>
<% if @user.id == @current_user.id %>
<%= link_to '編集', edit_user_path, class: 'btn btn-primary mr-3' %>
<%= link_to '削除', [:user, @user], method: :delete, data: { confirm: "ユーザー「#{@user.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
<% end %>