<h1 class="ml-3 mt-3">レビューの新規投稿</h1>
  <div class="nav justify-content-end">
    <%= link_to '一覧', posts_path, class: 'nav-link btn btn-info mr-3' %>
  </div>
  <%= render partial: 'form', locals: { post: @post } %>